section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    margin: 20px;
    width: 300px;
    height: auto;

    border-radius: 1pc;
    border: solid 2px pink;
    box-shadow: 4px 4px lightgray;

}

img {
    width: 190px;
}